*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0 auto;
    width: 100%;
}

body{
    align-items: center;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    height: 100vh;
    width: 100%;
}

.logo{
    max-width: 350px;
    margin-bottom: 25px;
}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 480px;
    margin: 14px 0;
}

.container-input span{
    color: #3EB72B;
    font-size: 22px;
    text-align: center;
}

.slider{
    border-radius: 5px;
    background: #DFDFDF;
    margin-top: 8px;
    outline: none;
    height: 18px;
    -webkit-appearance: none;
    width: 100%;
}

.button-cta{
    background-color: #3EB72B;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
}

.container-password{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 14px 0;
    max-width: 480px;
}

.title{
    color: #3EB72B;
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: 24px;
    text-align: center;
}

.password{
    align-items: center;
    background-color: rgba(0,0,0, 0.80);
    border: 1px solid #313131;
    border-radius: 15px;
    color: #FFF;
    display: flex;
    justify-content: center;
    transition: transform 0.5s;
    height: 60px;
}

.password:hover{
    transform: scale(1.05);
}

.tooltip{
    background: rgb(15, 15, 15);
    border-radius: 10px;
    color: #3EB72B;
    font-size: 16px;
    padding: 6px 8px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
    top: 20px;
    visibility: hidden;
    opacity: 0;
}

.hide{
    display: none;
}

.container-password:hover .tooltip{
    bottom: 50px;
    opacity: 1;
    visibility: visible;
}